{% extends 'equipment_app/base.html' %}

{% block content %}
<h2 class="mb-4">Add Equipment</h2>

<div class="card-box">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label>Equipment Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Total Quantity</label>
            <input type="number" name="total_quantity" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Available Quantity</label>
            <input type="number" name="available_quantity" class="form-control" required>
        </div>

        <button class="btn btn-success">Save Equipment</button>
        <a href="/equipment/" class="btn btn-secondary">Back</a>
    </form>
</div>
{% endblock %}