{% extends 'equipment_app/base.html' %}

{% block content %}
<h2 class="mb-4">Dashboard</h2>

<div class="row g-4">
    <div class="col-md-4">
        <div class="card-box">
            <h5>Total Students</h5>
            <h2>{{ students_count }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-box">
            <h5>Total Equipment</h5>
            <h2>{{ equipment_count }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-box">
            <h5>Active Borrowed</h5>
            <h2>{{ borrowed_count }}</h2>
        </div>
    </div>
</div>
{% endblock %}