{% extends 'equipment_app/base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Equipment</h2>
    <a href="/equipment/add/" class="btn btn-primary">
        + Add Equipment
    </a>
</div>

<div class="card-box">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Total Quantity</th>
                <th>Available Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.total_quantity }}</td>
                <td>{{ item.available_quantity }}</td>
            </tr>

            <td>
    <a href="/equipment/edit/{{ item.id }}/" class="btn btn-sm btn-warning">
        Edit
    </a>
</td>
            {% empty %}
            <tr>
                <td colspan="3">No equipment found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}